



/* Reset and base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Body*/
body {
 font-family: "DM Sans", sans-serif;
}

/*Main Container*/
#container{
  max-width: 1140px;
  padding:0;
  margin:0;
}

/*hedaer*/

.site-header {
  margin: 36px 405px;
  display: flex;
  width: 972px;
  height:40px;
  align-items: center;
  color: #fff;
}


/*Navbar Links*/

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
  width: 352px;
  height: 22px;
  margin: 40px 200px;
  text-decoration: none;


}

.nav-links a{
    text-decoration: none;
    color:#15143966
}

/*LOgin and Signup*/

.auth-buttons {
  display: flex;
  gap: 16px;
}

.btnsignup {
  padding: 10px 20px;
  color:white;
  width: 105px;
  border-radius:50px;
  text-decoration: none;
  background-color: #25DAC5;
  font-weight: bold;
 
}
.btnlogin
 {
  padding: 8px 16px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  color: #25DAC5;
  margin: auto;
}
 /* <!-- <div class="c1">
       <div class="card">
      <img src="Photo.png" alt="Image 1">
      <p>A high-quality solution for a beautiful startup website.</p>
    </div>

    <div class="card">
      <img src="Photo.png" alt="Image 2">
      <p>Startups can save money on design and code and use those savings to develop the business.</p>
    </div>

    <div class="card">
      <img src="Photo.png" alt="Image 3">
      <p>Startup Framework includes great form options for your startup projects.</p>
    </div>
   
</div> --> */






.center-box {
  width: 714px;
  height: auto;
  position: absolute;
  margin: 30px 550px;
  border-radius: 10px;
  padding: 30px;
}

/* Content alignment H1 and p*/

.content {
  text-align: center;
}

/* Text styles */
.content h1 {
  font-size: 58px;
  font-weight: 700px;
  color: #0f172a;
  margin-bottom: 25px;
  line-height: 70px;
  letter-spacing: -1px;
  text-align: center;
  
}

.content p {
    width: 580px;
    height: 96px;
    top:333px;
    left: 388px;
    font-weight: 500px;
  font-size: 22px;
  color: #15143966;
  line-height: 32px;
  letter-spacing: 0px;
  align-items: center;
  text-align: center;
}

/*Create Account*/

.text { 
  margin: 50px auto ; /* Adds space between button and images */ 
  text-align: center;
  
  
}

.text a{
  
   display: inline-block; /* Make the link behave like a block for padding to take effect */
    padding: 16px 40px;     /* Horizontal padding added for better sizing */
    border-radius: 70px;
    background-color:#E93A7D;
    font-weight: 500;
    color: #fff;
    margin-right: 70px;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0px;
    text-decoration: none;
    text-align: center;
    align-items: center; 
 
}

/*3 images*/
.image-row {
  display: flex;
  justify-content: center;
  margin: 120px auto;
  gap:100px;  
}

.a{
  border-left: 1px solid #EBEAED;
  height: 110px;
}


.image-item {
  text-align: center;
  
}


.image-item img {
  width: 170px;
  height:110px;


}

.caption {
  width: 200px;
  height: 112px;
  margin: 15px auto;
  font-size: 18px;
  color:#15143966;
  line-height: 28px;
  letter-spacing: 0px;
  align-items: center;
  text-align: center;

}

